@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-soehne: "soehne", "soehne Fallback", system-ui, sans-serif;

  --color-red-50: oklch(97.1% .013 17.38);
  --color-red-100: oklch(93.6% .032 17.717);
  --color-red-400: oklch(70.4% .191 22.216);
  --color-red-500: oklch(63.7% .237 25.331);
  --color-red-600: oklch(57.7% .245 27.325);
  
  --color-emerald-100: oklch(95% .052 163.051);
  --color-emerald-400: oklch(76.5% .177 163.223);
  --color-emerald-500: oklch(69.6% .17 162.48);
  --color-emerald-600: oklch(59.6% .145 163.225);
  
  --color-zinc-700: oklch(37% .013 285.805);
  --color-zinc-800: oklch(27.4% .006 286.033);
  --color-zinc-900: oklch(21% .006 285.885);
  --color-neutral-900: oklch(20.5% 0 0);
  
  --color-pink: #ff83da;
  --color-pink-light: #ffc5ee;
  --color-grey: #f4f5f9;
  --color-charcoal: #2d2c37;
  --color-yellow: #e8ff5b;
  --color-blue: #d2f4ff;
  --color-supporting-grey: #c4c9dd;

  --radius-lg: .5rem;
  --radius-xl: .75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}

@layer base {
  body {
    background-color: #000;
    color: #fff;
    font-family: var(--font-soehne);
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
  }
}
